@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

header {
  width: 100%;
  height: auto;
  background-color: #787878;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    img {
      width: 90%;
      max-width: 400px;
      height: auto;
    }
  }

  nav {
    width: 90%;
    max-width: 400px;
    margin-top: 20px;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0;

      a {
        text-decoration: none;
      }
      
      li {
        list-style: none;
        text-align: center;
        color: #fff;
        font-family: 'Francois One';
        font-size: 22px;
        cursor: pointer;
      }
    }
    
  }
  
  .box-cart {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 20px;

    @media (max-width: 550px) {
      flex-direction: column;
      gap: 20px;
  }
    
    
    a {
      width: 230px;
      height: 35px;
      background: #D84C4C;
      color: #fff;
      border-radius: 5px;
      font-size: 18px;
      font-family: 'Francois One';
      cursor: pointer;
      border: none;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
